/jmupdf32.dll
/jmupdf64.dll
/jpen-2-3.dll
/jpen-2-3-64.dll
/JTabletPresenter.jar
/JTabletPresenter.zip
/libfreetype.so
/libjmupdf32.so
/libjmupdf64.so
/libjpen-2-3.jnilib
/libjpen-2-4.so
/libjpen-2-4-x86_64.so
/JTabletPresenter_lib
